@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Mate');

html, body, h2, h3 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 5px 0;
}

li {
  height: auto;
  margin: 20px 0;
}

img {
  float: left;
  width: 35vw;
  height: auto;
  margin: auto;
  padding-right: 10px;
}

.titleDiv {
  text-align: center;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 18px;
}

.descriptionDiv {
  margin: 0 2.5%;
  width: 60%;
}

/* TODO: make the element as high as the picture if it is the longest element */

.director {
  font-size: 20px;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.rated {
  font-size: 16px;
  font-style: italic;
  width: 100vw;
}

.actors {
  padding-bottom: 10px;
  border-bottom: 5px double black;
}

.plot {
  padding-right: 10px;
  margin-top: 10px;
  font-family: 'Mate', serif;
  text-align: justify;
}
