html, body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h2, h3, p {
  margin: 0;
}

li {
  display: flex;
  margin: 20px 0;
}

img {
  float: left;
  width: 35vw;
  height: auto;
}

h2 {
  font-size: 18px;
}

.director {

}

.rated {
  font-size: 16px;
  font-style: italic;
}

.plot {

}
