@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Mate');
@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Gafata');

html, body, h2, h3 {
  padding: 0;
  margin: 0;
}

ul, #myModalContent{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  /* background-color: black;
  color: white; */
}

.blur {
  filter: blur(2px);
}

main {
  background-color: black;
}

#mainDiv {
  background-color: white;
  text-align: center;
  border: 5px solid black;
  padding: 10px;
}

#inputText {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}

input {
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  width: 80%;
}

#getPreview {
  background-color: white;
  border: 5px solid black;
  color: black;
  font-size: 25px;
  font-family: 'Saira Extra Condensed', sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
}

/* The Modal (background) */
.modal, #sortSection {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: black;
  color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

#sortSection {
  text-align: center;
}

.welcomeButton {
  width: 80%;
  margin: 5% 0;
  padding: 10% 2%;
  font-family: 'Laila', serif;
  font-size: 40px;
  border: none;
  color: white;
}

#likedButton {
  background-color: #1f7a1f;
}

.listTitleText {
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 25px;
  border-bottom: 5px double black;
}

#likedMovieList {
  background-color: #99ffbb;
}

#mehButton {
  background-color: #dfdf20;
}

#mehMovieList {
  background-color: #ffff99;
}

#hatedButton {
  background-color: #cc0000;
}

#hatedMovieList {
  background-color: #ffb3b3;
}

#welcomeText {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  border-radius: 25px;
  box-shadow: inset 0 0 30px rgba(0,0,0,0.4);
  padding: 10px 0;
}

.border {
  border-bottom: 5px double white;
  margin: 20px 0;;
}

#myOptionsDiv {
  text-align: center;
}

.optionButton {
  background-color: black;
  color: white;
  width: 48%;
  border: 2px solid white;
  font-size: 18px;
}

#confirmText {
  text-align: center;
  font-family: 'Laila', serif;
  font-size: 20px;
  font-weight: bold;
}

p {
  margin: 5px 0;
}

li {
  height: auto;
  margin: 20px 5px;
}

img {
  float: left;
  width: 35vw;
  height: auto;
  margin: auto;
  padding-right: 10px;
}

.titleDiv {
  text-align: center;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 18px;
}

.descriptionDiv {
  margin: 0 2.5%;
  width: 60%;
}

.director {
  font-size: 20px;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.rated {
  font-size: 16px;
  font-style: italic;
  width: 100vw;
}

.actors {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  font-family: 'Gafata', sans-serif;
}

.plot {
  padding-right: 10px;
  margin-top: 10px;
  font-family: 'Mate', serif;
  text-align: justify;
}
