html, body, p {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(149, 218, 235);
  margin-bottom: 1vh;
}

h1 {
  text-align: center;
  margin: 0;
}

h4#currentLocation {
  margin: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: lighter;
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#foodList {
  margin: 0;
  padding: 0;
}

.restSection {
  width: 100%;
  margin-bottom: 1vh;
  transition: .5s;
}

.overview {
  background-color: rgb(161, 145, 139);
  flex-direction: row;
  transition: .5s;
}

.overview:active {
  background-color: blue;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.logo {
  width: 20vw;
  height: auto;
}

.name {
  width: 80vw;
  padding: 25px 0;
  padding-left: 20px;
}

.foodName {
  margin: 0;
  font-size: 20px;
  font-family: 'Aclonica';
}

img {
  height: 10vh;
  width: 20vw;
}
