html, body, p {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
  margin-bottom: 1vh;
  font-family: 'Sura';
}

h1 {
  text-align: center;
  margin: 0;
}

#currentLocation {
  padding-right: 10px;
  padding-top: 5px;
  margin: 0;
  font-family: sans-serif;
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#foodList {
  margin: 0;
  padding: 0;
}

.restSection {
  width: 100%;
  margin-bottom: 1vh;
}

.accordian {
  background-color: #00cc7a;
  flex-direction: row;
  transition: .1s; /* how fast the accordian moves down */
}
.active {
  background-color: #df1453;
}

.panel {
  width: 100%;
  margin: auto;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: .5s;
}

.address {
  padding-right: 5px;
  text-align: right;
  font-family: fantasy;
}

.reviewText {
  padding: 5px 10px;
  font-style: oblique;
}

.review {
  margin: auto;
  width: 93%;
  border: 2px solid black;
  height: 100px;
  padding: 10px;
  font-family: 'Sintony';
}

button {
  width: 100%;
  background-color: #8d0c35;
  color: white;
  font-family: 'Megrim';
  font-size: 25px;
  border: none;
  padding: 10px;
}

.logo {
  width: 20vw;
  height: auto;
}

.name {
  width: 80vw;
  padding: 25px 0;
  padding-left: 20px;
}

.foodName {
  margin: 0;
  font-size: 20px;
  font-family: 'Vollkorn';
  font-weight: bold;
}

img {
  height: 10vh;
  width: 20vw;
}
